name: checkov

on:
  workflow_call:
    inputs:
      directories:
        description: 'optional: .tf files located directories in JSON Array format to run scan, example "["path/1", "path/2"]". If not defined all the directories containing .tf files will be scanned.'
        type: string
        default: "['.']"
      quiet:
        description: "optional: display only failed checks"
        type: boolean
        default: true
      output_format:
        description: "optional: the output format, `cli` and/or one of: `json`, `junitxml`, `github_failed_only`, or `sarif`."
        type: string
        default: "cli,sarif"
      download_external_modules:
        description: "optional: download external terraform modules from public git repositories and terraform registry"
        type: boolean
        default: true
      var_file:
        description: "optional: variable files to load in addition to the default files. Currently only supported for source Terraform and Helm chart scans."
        type: string
        default: ""
      log_level:
        description: "optional: set log level."
        type: string
        default: "WARNING"

jobs:
  tf_fmt:
    name: tf_fmt
    permissions:
      contents: write # for making commit
    runs-on: ubuntu-latest
    env:
      HEAD_BRANCH: ${{ github.head_ref }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y gnupg software-properties-common
          echo Installing HashiCorp GPG key...
          wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor | tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          echo "Verifying the key fingerprint..."
          sudo tee /usr/share/keyrings/hashicorp-archive-keyring.gpg
          gpg --no-default-keyring \
          --keyring /usr/share/keyrings/hashicorp-archive-keyring.gpg \
          --fingerprint
          echo Adding the official HashiCorp repository to your system...
          echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] \
          https://apt.releases.hashicorp.com $(lsb_release -cs) main" | \
          sudo tee /etc/apt/sources.list.d/hashicorp.list
          sudo apt update
          sudo apt-get install terraform

      - name: Terraform fmt
        run: |
          DIRECTORIES="$(find . -type f -name "*.tf" -exec dirname {} \; | sed 's|^\./||')"
          # Iterate over each directory to do fmt
          IFS=$'\n'   # Set the Internal Field Separator to newline
          for dir in ${DIRECTORIES}; do
              cd "${{ github.workspace }}/${dir}" && echo "in directory: ${dir}"
              terraform fmt
          done
      - name: commit formatted code
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git commit -am "chore: terraform fmt" || echo "No changes to commit"
          git config pull.rebase true && git pull origin ${HEAD_BRANCH}
          git push origin ${HEAD_BRANCH}

  iac_scan:
    permissions:
      contents: read # for actions/checkout to fetch code
      security-events: write # for github/codeql-action/upload-sarif to upload SARIF results
      actions: read # only required for a private repository by github/codeql-action/upload-sarif to get the Action run status
      pull-requests: write # to write the report to PR comment
    runs-on: ubuntu-latest
    strategy:
      matrix:
        directory: ${{ fromJson(inputs.directories) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Checkov GitHub Action
        id: checkov
        uses: bridgecrewio/checkov-action@v12
        with:
          directory: ${{ matrix.directory }}
          skip_check: ${{ vars.IAC_SCAN_SKIP_CHECKS }}
          skip_cve_package: ${{ vars.IAC_SCAN_SKIP_CVE_PACKAGES }}
          quiet: ${{ inputs.quiet }}
          download_external_modules: ${{ inputs.download_external_modules }}
          var_file: ${{ inputs.var_file }}
          output_format: ${{ inputs.output_format }}
          # folder and name of results file
          # This will add both a CLI output to the console and create a results.sarif file
          output_file_path: console,results.sarif
          log_level: ${{ inputs.log_level }}

      - name: Format The Report
        id: format_checkov_results
        if: ${{ !cancelled() }}
        run: |
          report_data=$(node - << EOF
          const fs = require('fs');
          const sarifFile = fs.readFileSync('results.sarif', 'utf8');
          const sarifData = JSON.parse(sarifFile);

          const tableData = [];
          const helps = {};

          sarifData.runs.map((sarif) => {
              sarif.tool.driver.rules.map((rule) => {
              if (rule.helpUri) {
                  helps[rule.id] = rule.helpUri;
              }
              });
          });
          const errors = sarifData.runs.flatMap((sarif) =>
              sarif.results.filter((result) => result.level === 'error')
          );

          for (const error of errors || []) {
            const rule_id = error.ruleId || '';
            const message = error.message.text;
            const location = error.locations.map(obj => {
            return \`- **file_path**: \${obj.physicalLocation.artifactLocation.uri}; **between_lines**: \${obj.physicalLocation.region.startLine} to \${obj.physicalLocation.region.endLine}\`;
            }).join('<br>');

            const helpUri = helps[error.ruleId];

            tableData.push(
            \`\${rule_id} | \${location} | \${message} | \${helpUri}\`
            );
          }

          // construct the data to support Markdown
          const data = tableData.join('\n');
          console.log(data); // Print the data
          EOF
          )

          # Struncturing the final report for Markdown
          echo "# Checkov IaC Scan Report" >> final_checkov_report.md
          if [ ${{ steps.checkov.outcome }} == "success" ]
          then
            echo "### :rainbow: No issues found" >> final_checkov_report.md
          elif [ ${{ steps.checkov.outcome }} == "failure" ]
          then
            echo "### :warning: Below are the issues found:" >> final_checkov_report.md
            echo "Rule Id | Location | Message | Help URI" >> final_checkov_report.md
            echo "--- | --- | --- | ---" >> final_checkov_report.md
            echo "$report_data" >> final_checkov_report.md
          fi

      - name: Add Report As PR comment
        uses: mshick/add-pr-comment@v2
        if: ${{ !cancelled() }}
        with:
          message-id: Checkov-scan
          message-path: |
            final_checkov_report.md

# Below `Upload SARIF file` can be only used if GitHub Enterprise feature Advanced Security is enabled
#      - name: Upload SARIF file
#        uses: github/codeql-action/upload-sarif@v3
#        if: ${{ !cancelled() }}
#        with:
#          sarif_file: results.sarif
