name: Trivy Container Scan
on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        description: "A GitHub PersonalAccessToken used to access GitHub package regististy. NPM_TOKEN is also passed as Docker build --build-arg. If not defined default GITHUB_TOKEN is used."
        required: false

    inputs:
      action_runner_container_image:
        description: "Action runner container image. Default = public.ecr.aws/studiographene/ci:node-20-alpine"
        type: string
        default: public.ecr.aws/studiographene/ci:node-20-alpine
      docker_build_command:
        type: string
        required: false
        default: ""
      docker_build_image_id:
        description: "Docker image ID as mentioned in docker_build_command"
        type: string
        required: false
        default: "localbuild:latest"
      container_scanners:
        description: "comma-separated list of what security issues to detect (vuln,secret,config). Default = vuln"
        type: string
        required: false
        default: vuln
      container_scan_skip_dirs:
        description: "Comma separated list of directories to skip scanning"
        type: string
        required: false
      before_step_command:
        description: "Command to execute at the start of the job"
        type: string
        required: false
        default: ""
      after_step_command:
        description: "Command to execute at the end of the job"
        type: string
        required: false
        default: ""

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  container_scan:
    runs-on: ubuntu-latest
    container:
      image: ${{ inputs.action_runner_container_image }}
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN != '' && secrets.NPM_TOKEN || secrets.GITHUB_TOKEN }}
    steps:
      - name: Before Step
        if: ${{ inputs.before_step_command != '' }}
        run: |
          ${{ inputs.before_step_command}}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - # Add support for more platforms with QEMU (optional)
        # https://github.com/docker/setup-qemu-action
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker Build
        id: docker_build
        env:
          FINAL_DOCKER_BUILD_COMMAND: ${{ inputs.docker_build_command != '' && inputs.docker_build_command || format('docker build --build-arg NPM_TOKEN={0} -t  {1} .', secrets.NPM_TOKEN, inputs.docker_build_image_id) }}
        run: |
          echo $FINAL_DOCKER_BUILD_COMMAND
          eval $FINAL_DOCKER_BUILD_COMMAND

      - name: Creating Trivy report PR comment template file
        run: |
          cat <<EOF >> trivyreport.tpl 
          | Package | Vulnerability | Severity | Status | Installed Version | Fixed Version | Title |
          | ------- | ------------- | -------- | ------ | ----------------- | ------------- | ----- |
          {{- range .}}
          {{- range .Vulnerabilities}}
          | {{ .PkgName | html }} | {{ .VulnerabilityID | html }} | {{ .Severity | html }} | {{ .Status | html }} | {{ .InstalledVersion | html }} | {{ .FixedVersion | html }} | {{ .Title | html }} |
          {{ end }}
          {{- end }}
          EOF

      - name: Trivy container vulnerability scan
        id: container_scan
        uses: aquasecurity/trivy-action@v0.25.0
        with:
          image-ref: ${{ inputs.docker_build_image_id }}
          format: "template"
          template: "@trivyreport.tpl"
          output: "trivyreport.json"
          exit-code: "1"
          ignore-unfixed: true
          vuln-type: "os,library"
          severity: "CRITICAL,HIGH"
          scanners: ${{ inputs.container_scanners }}
          skip-dirs: ${{ inputs.container_scan_skip_dirs }}

      - name: Create container vulnerability report
        if: ${{ steps.container_scan.outcome != 'cancelled' }}
        shell: bash
        run: |
          echo "# Trivy Container Scan" > container_scan_prcomment.json
          if [ ${{ steps.container_scan.outcome }} == "failure" ]
          then
            echo "### :warning: Vulnerabilities detected<br>The following vulnerabilities of HIGH or CRITICAL severity has been detected in the code. Please resolve these before merging the pull request.<br><br>" >> container_scan_prcomment.json
            cat trivyreport.json >> container_scan_prcomment.json
          elif [ ${{ steps.container_scan.outcome }} == "success" ]
          then
            echo "### :rainbow: No vulnerabilities of HIGH or CRITICAL severity detected" >> container_scan_prcomment.json
          fi

      - name: PR comment the container scan report
        uses: mshick/add-pr-comment@v2
        with:
          message-id: trivy_container_scan
          message-path: container_scan_prcomment.json

      - name: After Step
        if: ${{ inputs.after_step_command != '' }}
        run: |
          ${{ inputs.after_step_command}}
